<!DOCTYPE html>

<html>
  <head>
	<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/forms.css" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src="static/login.js"></script>
	<title> Signup</title>
  </head>

  <body>
	<div id="header">
		<h3 class="gr"><a href="/blog">Mystic</h3><h3 class="gr2">&nbsp;Views</a></h3>
	</div>
    <div class="clear"></div>
    <div class="hr"><hr/></div>
	
	<div id="wrapper">

	<form name="login-form" class="login-form" action="" method="post">
	
		<div class="header">
		  <h1>Login Form</h1>
		</div>
	
		<div class="content">
		    <input name="username" type="text" class="input username" placeholder="Username" />
		    <span><label class="error">{{error_username}}</label></span>
		    <span><label class="error">{{error_invalid}}</label></span>
		    <div class="user-icon"></div>
		    <input name="password" type="password" class="input password" placeholder="Password" />
		    <label class ="error">{{error_password}}</label>
		    <div class="pass-icon"></div>		
		</div>

		<div class="footer">
		    <input type="submit" name="submit" value="Login" class="button" />
		    <a href="/blog/signup" class="register">Register</a>
		</div>
	
	</form>

    </div>
   <div class="clear"></div>
	<br>
	<div class="bottom">
		<div class="pic">
			<img src="../static/Avatar.jpg" alt="Avatar" height="70px" width="60px" />
		</div>
		<div class="bio">
			<p>Hi, Thaman here. My interests are in Social networking,
			Web design & development (HTML5, CSS3, Django, GAE, JQuery, XML),
			entrepreneurship & innovation, startup companies, Bioinformatics and Proteomics.
			I love Python language and in every possible way trying to be more Pythonic. 
			</p>
		</div>
		<div class="clear"></div>
	
		<div class="line"></div>
		<div style="text-align:center;">
			<a href="https://twitter.com/2BioInfo" class="twitter-follow-button" data-show-count="false">Follow @2BioInfo</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<p>&copy; 2012 - mysticviews</p>
		</div>	
	 </div>
</body>

</html>