<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script src="../static/jquery-1.7.1.js" type="text/javascript"></script>
	<script type="text/javascript" src="../static/login.js"></script>
	<title>Welcome {{username}} !</title>
</head>

<body>
	<div id="header">
		<h3 class="gr"><a href="/blog/welcome">Mystic</h3><h3 class="gr2">&nbsp;Views</a></h3>
                <ul id="menuu">
			<li><img src="/disp?key={{avatar}}" /></img></li>
                        <li><a href="/blog/welcome">Welcome, {{username}}</a></li>
			<li><a href="/ASCII">ASCII CHAN</a></li>
                        <li><a href="/blog/logout">Logout</a></li>
                        
		</ul>
	</div>
	
      

	<br>
	<div class="clear"></div>
	<div class="hr"><hr/></div>
	<br>
	<div id="newpost">
		<h3> <a href="/blog/newpost">New Post +</a></h3>
	</div>
        <div id="content" class="content">
        {%for a in blog%}
		<h2><a href="/blog/{{a.key().id()}}">{{a.subject|capitalize}}</a></h2>
		<h2 class="date">Uploaded on: {{a.created.strftime("%b %d, %Y %I:%M %p")}} | In: {{a.category}}</h2>
		<div id="test">
		{% if a.content|count > 100 %}
			<p id="content">{{a.content|capitalize|truncate}}</p>
			<p style="text-align: right"><a href="/blog/{{a.key().id()}}">Read More...</a></p>
		{% else %}
			<p id="content">{{ a.content }}</p>
			
		{% endif %}
		</div>
		
	<div class="hr"><hr/></div>
	{% endfor %}
	</div><br>
	<div class="clear"></div>
	<br>
	<div class="bottom">
		<div class="pic">
			<img src="../static/Avatar.jpg" alt="Avatar" height="70px" width="60px" />
		</div>
		<div class="bio">
			<p>Hi, Thaman here. My interests are in Social networking,
			Web design & development (HTML5, CSS3, Django, GAE, JQuery, XML),
			entrepreneurship & innovation, startup companies, Bioinformatics and Proteomics.
			I love Python language and in every possible way trying to be more Pythonic. 
			</p>
		</div>
		<div class="clear"></div>
	
		<div class="line"></div>
		<div style="text-align:center;">
			<a href="https://twitter.com/2BioInfo" class="twitter-follow-button" data-show-count="false">Follow @2BioInfo</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<p>&copy; 2012 - mysticviews</p>
		</div>	
	 </div>
</body>

</html>
